* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body,
html {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    background-color: #1A2130;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-fish {
    width: 7vw;
    margin-right: -30%;
}

.nav-abs {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    font-weight: 600;
}

/* a {
    color: #fdfdfd;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #83B4FF;
} */

/* .hover-effect:hover {
    padding-top: 10px;
    border-top: solid #83B4FF 1px;
    transition: color 0.3s, padding-top 0.3s, border-top 0.3s;
} */

/*  */
/* a {
    color: #fdfdfd;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    position: relative;
    transition: color 0.3s;
}

a:hover {
    color: #83B4FF;
    text-decoration: none;
}

.hover-effect::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%2383B4FF" fill-opacity="1" d="M0,160L48,154.7C96,149,192,139,288,144C384,149,480,171,576,176C672,181,768,171,864,170.7C960,171,1056,181,1152,192C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>') no-repeat;
    background-size: cover;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s;
}

.hover-effect:hover::after {
    transform: scaleY(1);
} */

a {
    color: #fdfdfd;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    position: relative;
    transition: color 0.3s;
}

a:hover {
    color: #83B4FF;
    text-decoration: none;
}

.hover-effect::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 20px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%2383B4FF" fill-opacity="1" d="M0,160L48,154.7C96,149,192,139,288,144C384,149,480,171,576,176C672,181,768,171,864,170.7C960,171,1056,181,1152,192C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>') no-repeat;
    background-size: cover;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s;
}

.hover-effect:hover::before {
    transform: scaleY(2);
}

li {
    list-style-type: none;
}

.search-img,
.cart-img {
    width: 1.3rem;
}

.bg-photo {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
}

.info-body>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 75%;
}

.info-body-para {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    text-align: center;
}

#sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 25%;
    margin-top: 2rem;
    background-color: #5A72A0;
}

form>label {
    color: #fdfdfd;
    padding: 2rem;
}

form>h3 {
    color: #fdfdfd;
    text-align: center;
    padding: 1rem;
}

#email-news {
    width: 25vw;
    height: 5vh;
    margin: 1rem;
}

#sign-up-btn {
    width: 7vw;
    height: 5.5vh;
    border-radius: 2px;
    border: none;
    background-color: #fdfdfd;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#sign-up-btn:hover {
    cursor: pointer;
    background-color: #83B4FF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* #photo-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 75%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
} */




/* #photo-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 75%;
    margin: 1rem;
}

.img {
    width: 100%;
    height: auto;
    border: 1px solid black;

} */

#photo-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 75%;
    margin: 2rem;
}

.img-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    overflow: hidden;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 2px;
    transition: opacity 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-wrapper:hover .overlay {
    opacity: 1;
}

.img-wrapper:hover .img {
    opacity: 0.5;
}

#footer {
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: #1A2130;
    color: #fdfdfd;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 1.5rem;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: auto;
}

.about {
    text-align: start;
    width: 90%;
    opacity: .85;
}

.about-container {
    background-color: #1A2130;
    width: 40%;
    border-radius: 10px;
    margin: 1.3rem;
    padding: 1rem;
    color: #fdfdfd;
    box-sizing: border-box;
    box-shadow: 3px 3px 1px 1px #83B4FF;
}

#categories {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    position: fixed;
    margin: 3rem;
    padding: 3rem;
    gap: 1rem;
}

/* .item-wrapper {
    margin-left: 16rem;
} */

.item-container {
    margin-left: 16rem;
}

.item-detail {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
}

.add-cart {
    font-size: larger;
    margin-left: 13rem;
    background-color: #5A72A0;
    border-radius: 5px;
}

.add-cart:hover {
    cursor: pointer;
}
